.container {
    background: linear-gradient(to bottom left, #FFD6D6, #F2BFF6, #AEB6FF);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.logo {
    margin-bottom: 20px;
}

.form {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px;
}

button {
    margin: 10px;
    width: 444px;
}

.social-media {
    margin-top: 20px;
}